// Main Container
.container { width: $container-width; margin: auto; overflow: hidden;
@include breakpoint(xx-large) { width: 100% !important; }
}
.roundedborder {
  @include border-radius (.2em);
  border: 2px solid #bdbdbd;
}
.full-width { width: 100%; }

/*
 * Modifiers
 */

.clearfix { @include clearfix; }

.is-hidden    { display:    none !important; }
.is-invisible { visibility: none !important; }

.block        { display: block        !important; }
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }

.left  { float: left  !important; }
.right { float: right !important; }

.float-none  { float     : none   !important; }
.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }

.mt0 { margin-top:    0   !important; }
.mt1 { margin-top:    1em !important; }
.mt2 { margin-top:    2em !important; }
.mt3 { margin-top:    3em !important; }
.mb0 { margin-bottom: 0   !important; }
.mb1 { margin-bottom: 1em !important; }
.ptop0 { padding-top: 0px !important; }
.pbot0 { padding-bottom: 0px !important; }
.nopad { padding: 0 !important; }
.hideme { opacity: 0; }
